.newList {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0 !important;
  }

  .img_a {
    width: 30%;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .description {
    width: 65%;
    margin-block: 10px;
  }

  .info {
    font-size: 12px;
    color: #666;
  }
}
