.search {
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100vw;
  height: 100vh;
  z-index: 300;

  .searchContainer {
    box-shadow: 0 0 10px 5px rgba($color: $red_2, $alpha: 0.2);
    background-color: $bg-color_1;
    border-radius: 20px;
    height: max-content;
    overflow-y: scroll;
  }
}
