.footer {
  background-color: $bg-color_2;
  padding-top: 30px;
  width: 100%;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
  padding-block: 20px;
  gap: 50px;
  position: relative;
}

.footer2 {
  background-color: $bg-color_1;
}

.footer2Container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  margin: auto;
  max-width: 1500px;

  p {
    margin-block: 0px;
  }
}
