// Importar fuentes
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Variables de color
$bg-color_1: #151d2b;
$bg-color_2: #0f1520;
$red_1: rgb(255, 46, 46);
$red_2: rgb(255, 0, 0);
$red_3: rgb(161, 0, 0);
$transparent: rgba(0, 0, 0, 0);

// Estilos generales
* {
  font-size: 15px;
}

body {
  background-color: $bg-color_1;
  font-family: 'Lato', sans-serif;
  margin-block: 100px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
li {
  color: white !important;
}

a {
  text-decoration: none !important;

  &:hover,
  &:focus {
    color: $red_2 !important;
  }
}

main {
  background-color: $bg-color_1;
  display: flex;
  flex-direction: column;
}

.img {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}
